:root {
	--lumina-grey-0: #000000;
	--lumina-grey-1: #08001B;
	--lumina-grey-2: #141832;
	--lumina-grey-3: #36304f;
	--lumina-grey-4: #544c68;
	--lumina-grey-5: #716a87;
	--lumina-grey-6: #9189a7;
	--lumina-grey-7: #aeacc3;
	--lumina-grey-8: #d2cede;
	--lumina-grey-9: #F5F1FF;
	--lumina-grey-10: #ffffff;

	--lumina-grey-1-a80: #08001Bcc;
	--lumina-grey-2-a80: #201432cc;
	--lumina-grey-8-a80: #d2cedecc;
	--lumina-grey-9-a80: #F5F1FFcc;

	--lumina-green: hsl(113, 100%, 50%);
	--lumina-green-p1: hsl(113, 100%, 60%);
	--lumina-green-p2: hsl(113, 100%, 80%);
	--lumina-green-n1: hsl(113, 100%, 40%);
	--lumina-green-n2: hsl(113, 100%, 20%);
	--lumina-green-a10: hsla(113, 100%, 50%, 10%);
	--lumina-green-a20: hsla(113, 100%, 50%, 20%);
	--lumina-green-a50: hsla(113, 100%, 50%, 50%);

	--lumina-magenta: hsl(320, 100%, 50%);
	--lumina-magenta-p1: hsl(320, 100%, 60%);
	--lumina-magenta-p2: hsl(320, 100%, 80%);
	--lumina-magenta-n1: hsl(320, 100%, 40%);
	--lumina-magenta-n2: hsl(320, 100%, 20%);
	--lumina-magenta-a10: hsl(320, 100%, 50%, 10%);
	--lumina-magenta-a20: hsl(320, 100%, 50%, 20%);
	--lumina-magenta-a50: hsl(320, 100%, 50%, 50%);

	--lumina-grey: hsl(240, 5%, 60%);
	--lumina-grey-p1: hsl(240, 5%, 70%);
	--lumina-grey-p2: hsl(240, 5%, 80%);
	--lumina-grey-n1: hsl(240, 5%, 40%);
	--lumina-grey-n2: hsl(240, 5%, 20%);
	--lumina-grey-a10: hsl(240, 5%, 60%, 10%);
	--lumina-grey-a20: hsl(240, 5%, 60%, 20%);
	--lumina-grey-a50: hsl(240, 5%, 60%, 50%);
}

[data-md-color-scheme="lumina-light"] {
	--lumina-bg-0: var(--lumina-grey-8);
	--lumina-bg-1: var(--lumina-grey-9);
	--lumina-bg-1-a80: var(--lumina-grey-9-a80);
	--lumina-bg-2: var(--lumina-grey-10);
	--lumina-bg-3: var(--lumina-grey-10);

	--lumina-fg-1: var(--lumina-grey-2);
	--lumina-fg-2: var(--lumina-grey-3);
	--lumina-fg-3: var(--lumina-grey-4);


	--lumina-accent: var(--lumina-magenta-n1);
	--lumina-accent-light: var(--lumina-magenta-p2);
	--lumina-accent-dark: var(--lumina-magenta-n2);
	--lumina-accent-text: var(--lumina-magenta-n2);
	--lumina-accent-a10: var(--lumina-magenta-a10);
	--lumina-accent-a20: var(--lumina-magenta-a20);

	--lumina-accent-hover: var(--lumina-grey);
	--lumina-accent-hover-text: var(--lumina-grey-n2);
	--lumina-accent-hover-a10: var(--lumina-grey-a10);
	--lumina-accent-hover-a20: var(--lumina-grey-a20);

	--lumina-stroke: hsla(240, 5%, 0%, 15%);
	--lumina-smoke: var(--lumina-grey-9-a80);
}

[data-md-color-scheme="lumina-dark"] {
	--lumina-bg-0: var(--lumina-grey-2);
	--lumina-bg-1: var(--lumina-grey-1);
	--lumina-bg-1-a80: var(--lumina-grey-1-a80);
	--lumina-bg-2: var(--lumina-grey-2);
	--lumina-bg-3: var(--lumina-grey-3);

	--lumina-fg-1: var(--lumina-grey-9);
	--lumina-fg-2: var(--lumina-grey-9);
	--lumina-fg-3: var(--lumina-grey-10);

	--lumina-accent: var(--lumina-magenta);
	--lumina-accent-light: var(--lumina-magenta-p2);
	--lumina-accent-dark: var(--lumina-magenta-n2);
	--lumina-accent-text: var(--lumina-magenta-p1);
	--lumina-accent-a10: var(--lumina-magenta-a10);
	--lumina-accent-a20: var(--lumina-magenta-a20);

	--lumina-accent-hover: var(--lumina-grey);
	--lumina-accent-hover-text: var(--lumina-grey-p1);
	--lumina-accent-hover-a10: var(--lumina-grey-a10);
	--lumina-accent-hover-a20: var(--lumina-grey-a20);

	--lumina-stroke: hsla(240, 5%, 100%, 15%);
	--lumina-smoke: var(--lumina-grey-1-a80);
}

[data-md-color-scheme="lumina-light"] .lumina-dark-theme-only,
[data-md-color-scheme="lumina-dark"] .lumina-light-theme-only,
[data-md-color-scheme="lumina-light"] img[src$="#only-dark"],
[data-md-color-scheme="lumina-dark"] img[src$="#only-light"] {
	display: none !important;
}

